{% extends 'base.html' %}
{% block title %}
Нетворкинг Встречи
{% endblock %} 

{% block section %}

  {% if not request.user.is_authenticated %}
  <section style="background-color: #000000; color: white;">
    <div class="container jus">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <center>
            <img src="https://i.ibb.co/jZMthBv/standing-5.png" style="width: 60%; margin-top: 80px;" alt="My image">
          </center>
        </div>
        <div class="col" style="font-family: 'Naston';">
          <h1 style="margin-top: 80px; margin-bottom: 60px;">Добро пожаловать в NetWork</h1> 

          <p style="margin-bottom: 30px;">В мире, переполненном профессионалами,
            Network - это ваш ключ к открытию бесчисленных
            сетевых встреч. Наш минималистичный дизайн
            гарантирует, что вы сосредоточитесь на том, что действительно
            важно, – налаживании связей.
          </p>

          <p style="margin-bottom: 30px;">Воспользуйтесь нашей элегантной черно-белой платформой, 
            чтобы найти встречи, соответствующие вашим интересам и потребностям. 
            Сделайте это простым, но увлекательным с помощью NetWork.
          </p>

          <p style="margin-bottom: 80px;">Независимо от того, являетесь ли вы предпринимателем, 
            инвестором или экспертом, ищущим единомышленников, 
            наша платформа предоставляет множество возможностей, 
            которые помогут вам стремительно развить свою карьеру.
          </p>
        </div>
      </div>
    </div>
  </section>

  {% endif %}
{% endblock %}

{% block content %}

  <section>
    <h1 style="margin-top: 80px; text-align: center; margin-bottom: 60px; font-family: 'Naston'; color: white;">
      Нетворкинг Встречи
    </h1> 

    {% with request.resolver_match.view_name as view_name %}  
      <ul class="nav nav-underline justify-content-center" style="font-family: 'Naston'; margin-top: -50px; margin-bottom: 50px;">
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'meetings:index' %}active{% endif %}" style="color: white;" aria-current="page" href="#">Общее</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'meetings:topic_list:entrepreneurship' %}active{% endif %}" style="color: white;" aria-current="page" href="{% url 'meetings:topic_list' 'entrepreneurship' %}">Предпринимательство</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Программирование</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Дизайн</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" aria-disabled="true">SMM</a>
        </li>
      </ul>
    {% endwith %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for meeting in meeting_list %}
      <div class="col">
        <div class="card h-100" style="background-color: #DEDEDE; font-family: 'Naston', sans-serif; border-radius: 20px;">
          <div class="card-body d-flex flex-column">
            <p class="card-text"><small class="text-body-secondary">@{{ meeting.author }}</small></p> 
            <h2 class="card-title" style="font-weight: bold; margin-top: -10px;">{{ meeting.title }}</h2>
            {% if meeting.topic %}   
              <a href="{% url 'meetings:topic_list' meeting.topic.slug %}" class="nav-link" style="font-weight: bold;">Тема: {{ meeting.topic }}</a>
            {% endif %} 
            <a href="{% url 'meetings:topic_list' meeting.topic.slug %}" class="nav-link" style="font-weight: bold; margin-bottom: 15px;">{{ meeting.meeting_date }}</a>
            <p class="card-text">{{ meeting.description|truncatechars:100 }}</p>
            <a href="{% url 'meetings:meeting_detail' meeting.pk %}" class="align-self-end btn btn-lg btn-block btn-black" style="margin-top: auto;">Перейти</a>
          </div>
        </div>
      </div>
      {% endfor %} 
    </div>
  </section>

  {% if not request.user.is_authenticated %}
  <section style="margin-top: 100px;">

    <div class="row">
      <center>
        <div class="col" style="font-family: 'Naston', sans-serif; color: white;">
            <h1>Присоединяйтесь</h1>

            <p>
              Готовы расширить свой кругозор? <br>
              Не упустите целый мир возможностей. <br>
              Зарегистрируйтесь в сети и откройте двери к успеху. <br>
              Пришло время налаживать связи!
            </p>

            <a href="{% url 'users:signup' %}" class="align-self-end btn btn-lg btn-block btn-white" style="margin-top: 30px; width: 350px;">Зарегистрироваться</a>
        </div>
      </center>
    </div>

  </section>
  {% endif %}

{% endblock %}