{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
NetWork - Место Встречи
{% endblock %} 

{% block content %}

{% if not request.user.is_authenticated %}

<div style="background-color: #140023; color: #C77DFF; padding-top: 60px; padding-bottom: 60px;">

  <div class="container">
    <div class="row justify-content-center" style="text-align: center;">

      <div class="col-12 col-md-8 col-xxl-5">
        <h1 style="font-family: 'Monoton', cursive;">
          NETWORK-PLACE
        </h1>
        <p>
          Ваш парк развлечений мероприятий и вебинаров. 
          Скользите в виртуальное пространство и отправляйтесь в незабываемое путешествие, 
          исследуя новые идеи и знания!
        </p>
        <a href="{% url 'users:login' %}">
          <button type="button" class="btn" style="background-color: #C77DFF; color: white;">Войти</button>
        </a>

        <a href="{% url 'users:signup' %}">
          <button type="button" class="btn" style="background-color: #C77DFF; color: white;">Регистрация</button>
        </a>
        </div>
    
    </div>
  </div>

</div>

{% endif %}

<div class="container">
  <section style="color: #140023;">
  
    <div class="row">
      <div class="col">
        <h2 style="margin-top: 60px; text-align: left; margin-bottom: 30px; font-weight: 800;">
          ВСТРЕЧИ
        </h2> 
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4 g-4">

      {% for meeting in page_obj %}

      <div class="col">
        <div class="card h-100 ivent-body">
          <div class="card-body">
              <a href="{% url 'meetings:meeting_detail' meeting.pk %}">
              <h6 class="card-title" style="font-weight: 600; color: #140023; margin: 10px;">{{ meeting.title }}</h6>
              </a>
          </div>
          <center>
            {% thumbnail meeting.image "1200x800" as im %}
              <img class="card-img-bottom" src="{{ im.url }}" style="border-radius: 10px; width: 80%; margin-bottom: 15px;">
            {% endthumbnail %}
          </center>
          <div class="card-footer">
            <a class="nav-link" style="font-weight: 300;">{{ meeting.meeting_date }}</a>
          </div>
        </div>
      </div>
      
      {% endfor %}  

    </div>

    {% include 'meetings/includes/paginator.html' %}

  </section>
</div>

  {% if not request.user.is_authenticated %}
  <section style="padding-top: 100px; padding-bottom: 100px; margin-top: 50px; background-color: #140023; color: #C77DFF;">

    <div class="container">
      <div class="row justify-content-center" style="text-align: center;">
          <div class="col">
              <h1>Присоединяйтесь</h1>

              <p>
                Готовы расширить свой кругозор? <br>
                Не упустите целый мир возможностей. <br>
                Зарегистрируйтесь в сети и откройте двери к успеху. <br>
                Пришло время налаживать связи!
              </p>

              <a href="{% url 'users:signup' %}">
                <button type="button" class="btn" style="background-color: #C77DFF; color: white;">Зарегистрироваться</button>
              </a>
          </div>
       </div>
    </div>

  </section>

  {% endif %}

{% endblock %}