{% extends 'base.html' %}
{% block title %}
Пост {{ title_text }}
{% endblock %} 
{% block content %}
  <div class="col">
    <div class="card" style="background-color: #white; font-family: 'Naston', sans-serif; border-radius: 10px;">
      <div class="card-body d-flex flex-column">
        <h2 class="card-title" style="font-weight: bold; margin-top: -10px;">{{ meeting.title }}</h2>
        {% if meeting.topic %}   
          <a href="{% url 'meetings:topic_list' meeting.topic.slug %}" class="nav-link" style="font-weight: bold;">Тема: {{ meeting.topic }}</a>
        {% endif %} 
        <p class="card-text"><small class="text-body-secondary">Дата Встречи: {{ meeting.meeting_date }}</small></p>
        <p class="card-text" style="margin-top: -20px;"><small class="text-body-secondary">Автор: @{{ meeting.author }}</small></p>
    
        <p class="card-text">{{ meeting.description|linebreaks }}</p>
        <p class="card-text">Адрес: {{ meeting.address }}</p>

        <p class="card-text">Количество Заявок: {{ presence_quantity }}</p>

        {% if request.user.is_authenticated %}
          {% if presence %}
            <a
              class="btn btn-lg btn-light"
              href="{% url 'meetings:meeting_not_presence' meeting.id %}" role="button"
            >
              Не Буду
            </a>
          {% else %}
              <a
                class="btn btn-lg btn-primary"
                href="{% url 'meetings:meeting_presence' meeting.id %}" role="button"
              >
                Буду
              </a>
          {% endif %}
       {% endif %}
      </div>
    </div>
  </div>
{% endblock %}