{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
NetWork - Место Встречи
{% endblock %} 
{% block content %}

{% if not finish %}

    <div class="card" style="background-color: #black; border-radius: 10px; margin-top: 50px;">
      <div class="card-body d-flex flex-column">
        {% if meeting.type == "ON" %}   
          <h2 class="card-title" style="font-weight: bold; text-align: left; margin-bottom: -5px;">ОНЛАЙН МЕРОПРИЯТИЕ</h2>
        {% endif %}
        
        <div class="row">

          <div class="col-lg-8">      
            <p class="card-text">{{ meeting.description|linebreaks }}</p>
          </div>

          <div class="col-lg-4">
                {% thumbnail meeting.image "1200x800" as im %}
                  <img class="card-img-top" src="{{ im.url }}" style="border-radius: 10px;">
                {% endthumbnail %}
                <h2 class="card-title" style="font-weight: bold;">{{ meeting.title }}</h2>
                {% if meeting.topic %}   
                  <a href="{% url 'meetings:topic_list' meeting.topic.slug %}" class="nav-link" style="font-weight: bold;">Тема: {{ meeting.topic }}</a>
                {% endif %} 

                {% if meeting.type == "ON" %}   
                  <a href="{{ meeting.address }}" class="nav-link">Ссылка: {{ meeting.address }}</a>
                {% else %}   
                  <p class="card-text">Адрес: {{ meeting.address }}</p>
                {% endif %}
          
                <p class="card-text"><small class="text-body-secondary">Дата Встречи: {{ meeting.meeting_date }}</small></p>
                <p class="card-text" style="margin-top: -20px;"><small class="text-body-secondary">Автор: @{{ meeting.author }}</small></p>

                <a
                class="btn btn-lg shadow"
                style="width: 100%; background-color: #e80000; color: white;"
                href="{% url 'meetings:page_buy' meeting.id %}" role="button">
                  {{ price_meeting }}
                </a> 
          </div>

        </div>
      </div>
    </div>
{% else %}
<div style="margin-bottom: 200px; margin-top: 10%;">
  <center>
      <h1>МЕРОПРИЯТИЕ ПРОШЛО</h1>
      <h6>Мероприятие уже прошло, 
        <a href="{% url 'meetings:index' %}">вернуться на главную страницу</a>
      </h6>
  </center>
</div>
{% endif %}


{% endblock %}