{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
NetWork - {{ topic }}
{% endblock %} 
{% block content %}
<div class="container">
  <section style="color: #140023;">
  
    <div class="row">
      <div class="col">
        <h2 style="margin-top: 60px; text-align: left; margin-bottom: 30px; font-weight: 800;">
          ВСТРЕЧИ - {{ topic }}
        </h2> 
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4 g-4">

      {% for meeting in page_obj %}

      <div class="col">
        <div class="card h-100 ivent-body">
          <div class="card-body">
              <a href="{% url 'meetings:meeting_detail' meeting.pk %}">
              <h6 class="card-title" style="font-weight: 600; color: #140023; margin: 10px;">{{ meeting.title }}</h6>
              </a>
          </div>
          <center>
            {% thumbnail meeting.image "1200x800" as im %}
              <img class="card-img-bottom" src="{{ im.url }}" style="border-radius: 10px; width: 80%; margin-bottom: 15px;">
            {% endthumbnail %}
          </center>
          <div class="card-footer">
            <a class="nav-link" style="font-weight: 300;">{{ meeting.meeting_date }}</a>
          </div>
        </div>
      </div>
      
      {% endfor %}  

    </div>

    {% include 'meetings/includes/paginator.html' %}

  </section>
{% endblock %} 