{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
NetWork - {{ topic }}
{% endblock %} 
{% block content %}
<h1 style="margin-top: 80px; text-align: center; margin-bottom: 60px; color: black;">
  Нетворкинг Встречи
</h1> 

<div class="row row-cols-2 row-cols-md-2 row-cols-xxl-4 g-4">

  {% for meeting in page_obj %}

  <div class="col">
    <a href="{% url 'meetings:meeting_detail' meeting.pk %}">
      <div>
        {% thumbnail meeting.image "1200x800" as im %}
          <img class="card-img-top" src="{{ im.url }}" style="border-radius: 15px;">
        {% endthumbnail %}
        <h5 class="card-title" style="font-weight: bold; margin-top: 5px; color: black;">{{ meeting.title }}</h5>
        <a class="nav-link" style="font-weight: 300; margin-bottom: 15px;">{{ meeting.meeting_date }}</a>
      </div>
    </a>
  </div>
  
  {% endfor %} 

</div>
{% include 'meetings/includes/paginator.html' %}
</section>
{% endblock %} 