<hr style="color: white; margin-top: 70px;">
<ul class="nav nav-pills nav-fill" style="margin: 30px; font-family: 'LT Streetway Neue', sans-serif;">  
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#" style="background-color: black; color: white;">©2023 NetWork. All rights reserved.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#" style="background-color: black; color: white;">
            Контакты
        </a>
      </li>
</ul>