{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
NetWork - Панель Креатора
{% endblock %} 

{% block content %}

<div style="color: black;">

    <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
        <h1 style="font-weight: 600; font-weight: bold;">ПАНЕЛЬ УПРАВЛЕНИЯ</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3" style="margin-bottom: 30px;">

        <div class="col">
            <div class="card bg-success mb-1" style="color: white;">
                <div class="card-header">{{ earned }} RUB</div>
                <div class="card-body">
                  <h5 class="card-title"><i class="fa fa-money" aria-hidden="true"></i> Заработано без комиссии</h5>
                </div>
            </div>     
        </div>
        
        <div class="col">
            <div class="card bg-danger mb-1" style="color: white;">
                <div class="card-header">{{ percentage_of_earned }} RUB</div>
                <div class="card-body">
                  <h5 class="card-title"><i class="fa fa-mouse-pointer" aria-hidden="true"></i> Заработано всего с комиссией</h5>
                </div>
            </div>    
        </div>

        <div class="col">
            <div class="card bg-info mb-1" style="color: white;">
                <div class="card-header">{{ paid }} RUB</div>
                <div class="card-body">
                  <h5 class="card-title"><i class="fa fa-male" aria-hidden="true"></i> Выплачено</h5>
                </div>
            </div>        
        </div>

    </div>
    <hr>
    <h2>Ваши мероприятия:</h2>
    <div class="row row-cols-2 row-cols-md-2 row-cols-xxl-4 g-4" style="margin-bottom: 30px;">
            {% for meeting in meetings %}

            <div class="col">
              <a href="{% url 'meetings:meeting_detail' meeting.pk %}">
                <div>
                  {% thumbnail meeting.image "1200x800" as im %}
                    <img class="card-img-top" src="{{ im.url }}" style="border-radius: 15px;">
                  {% endthumbnail %}
                  <h6 class="card-title" style="font-weight: bold; margin-top: 5px; color: black;">{{ meeting.title }}</h6>
                  <a class="nav-link" style="font-weight: 300; margin-bottom: 15px;">{{ meeting.meeting_date }}</a>
                  <p style="font-weight: bold;">Участники: {{ meeting.np_panel }}</p>
                </div>
              </a>
            </div>
                
            {% endfor %} 
    </div>

</div>

{% endblock %}


1. Курсы которые есть
2. Сколько человек записалось
3. Сколько принесли курсы