{% extends 'base.html' %}
{% block title %}
Профайл пользователя {{ request.username }}
{% endblock %} 
{% block content %}

<div class="col">

    <center>
      <div class="btn btn-lg btn-block btn-white" style="font-family: 'Naston'; sans-serif; text-align: center; background-color: white; border-radius: 20px; margin: 30px; width: 60%;">
        {% if sub %} 
          <h3>Подписка действует - {{ request.user }} до {{ date_finish|date:"d E Y" }}</h3>
        {% else %}
            <a href="{% url 'subscription:page_buy' %}" class="btn btn-lg btn-block btn-white">Приобрести подписку</a>
          </center>
        {% endif %}
    </center>

    <h2 style="margin-top: 80px; text-align: center; margin-bottom: 60px; font-family: 'Naston'; color: white;">
        Ваши Нетвокринг Встречи
    </h2> 
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-4">
            {% for meeting in page_obj %}
            <div class="col">
              <div class="card h-100" style="background-color: #DEDEDE; font-family: 'Naston', sans-serif; border-radius: 20px;">
                <div class="card-body d-flex flex-column">
                  <p class="card-text" style="text-align: center;"><small class="text-body-secondary">@Ключ Приглашения: </small><u>{{ meeting.key }}</u></p> 
                  {% load qr_code %}
                  <center>
                    {% qr_from_text meeting.link size="M" %}
                  </center>
                  <p class="card-text"><small class="text-body-secondary">@{{ meeting.meeting.author }}</small></p> 
                  <h2 class="card-title" style="font-weight: bold; margin-top: -10px;">{{ meeting.meeting.title }}</h2>
                  {% if meeting.meeting.topic %}   
                    <a href="{% url 'meetings:topic_list' meeting.meeting.topic.slug %}" class="nav-link" style="font-weight: bold;">Тема: {{ meeting.meeting.topic }}</a>
                  {% endif %} 
                  <a href="{% url 'meetings:topic_list' meeting.meeting.topic.slug %}" class="nav-link" style="font-weight: bold; margin-bottom: 15px;">{{ meeting.meeting.meeting_date }}</a>
                  <p class="card-text">{{ meeting.meeting.description|truncatechars:100 }}</p>
                  <a href="{% url 'meetings:meeting_detail' meeting.meeting.pk %}" class="align-self-end btn btn-lg btn-block btn-black" style="margin-top: auto;">Перейти</a>
                </div>
              </div>
            </div>
            
            {% endfor %} 
      
          </div>
          <a href="{% url 'users:logout' %}" style="font-weight: bold; color: white; font-family: 'Naston'; float: right; margin-top: 30px;"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a>

{% endblock %}